/* input[type="password"] {
  color: transparent;
} */



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
   
  }
  
  @font-face {
    font-family: Poppins-Medium;
   
  }
  
  @font-face {
    font-family: Poppins-Bold;
   
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
 
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;
  }
  
  /*---------------------------------------------*/
  a {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
    color: #57b846;
  }
  
  /*---------------------------------------------*/
  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }
  
  p {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  /*---------------------------------------------*/
  input {
      outline: none;
      border: none;
  }
  
  input[type="number"] {
      -moz-appearance: textfield;
      appearance: none;
      -webkit-appearance: none;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }
  
  textarea {
    outline: none;
    border: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }
  
  textarea:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus:-moz-placeholder { color:transparent; }
  textarea:focus::-moz-placeholder { color:transparent; }
  textarea:focus:-ms-input-placeholder { color:transparent; }
  
  input::-webkit-input-placeholder {color: #999999;}
  input:-moz-placeholder {color: #999999;}
  input::-moz-placeholder {color: #999999;}
  input:-ms-input-placeholder {color: #999999;}
  
  textarea::-webkit-input-placeholder {color: #999999;}
  textarea:-moz-placeholder {color: #999999;}
  textarea::-moz-placeholder {color: #999999;}
  textarea:-ms-input-placeholder {color: #999999;}
  
  label {
    display: block;
    margin: 0;
  }
  
  /*---------------------------------------------*/
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  iframe {
      border: none !important;
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Utility ]*/
  .txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.4;
    color: #999999;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ login ]*/
  
  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #ebeeef;
  }
  
  
  .wrap-login100 {
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  /*==================================================================
  [ Title form ]*/
  .login100-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  
    padding: 70px 15px 74px 15px;
  }
  
  .login100-form-title-1 {
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
  
  .login100-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.7);
  }
  .login100-form-title-2 {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    padding: 200px;
  }
  
  
  /*==================================================================
  [ Form ]*/
  
  .login100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 88px 93px 270px;
  }
  
  
  /*------------------------------------------------------------------
  [ Input ]*/
  
  .wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
  }
  
  .label-input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    text-align: right;
  
    position: absolute;
    top: 14px;
    left: -105px;
    width: 80px;
  
  }
  
  /*---------------------------------------------*/
  .input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
  
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
  }
  
  .focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
  
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
  
    background: #57b846;
  }
  
  
  /*---------------------------------------------*/
  input.input100 {
    height: 45px;
  }
  
  
  .input100:focus + .focus-input100::before {
    width: 100%;
  }
  
  .has-val.input100 + .focus-input100::before {
    width: 100%;
  }
  
  /*==================================================================
  [ Restyle Checkbox ]*/
  
  .input-checkbox100 {
    display: none;
  }
  
  .label-checkbox100 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #999999;
    line-height: 1.4;
  
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
  }
  
  .label-checkbox100::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #e6e6e6;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .input-checkbox100:checked + .label-checkbox100::before {
    color: #57b846;
  }
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  
  .login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
  
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login100-form-btn:hover {
    background-color: #333333;
  }
  
  
  #root{background: #f1f2f7;}
  .bm-burger-button{width: 17px; height: 13px; margin-top: -5px; left: 230px;}
  .bm-burger-button button{color: #fff!important;}
  .bm-burger-button:after{content: ''; width: 35px; height: 35px; background: #34b3fb; position: absolute; left: -9px; top: -12px; border-radius: 500px; z-index: -1;}
  #page-wrap{padding-top: 88px; padding-bottom: 85px;}
  #header{width: 100%; height: auto; background: #fff; color: #1587c7; display: flex; justify-content: space-between; position: fixed; left: 0; top: 0; z-index: 99; box-shadow: 1px 0 3px rgba(0,0,0,.15);}
  #header .headerLeft{width: 291px; height: 78px; background: #1587c7; padding: 15px 0;}
  #header .headerLeft img{width: 85%; margin-left: 15px;}
  #header .headerRight{width: 100%; height: auto!important; display: flex; justify-content: center;}
  #header .topLogo{margin: 0;}
  .ui.inverted.menu{border-radius: 0!important;}
  .ui.inverted.menu a.item{font-family: Arial, Helvetica, sans-serif; font-size: 13px;}
  #footer{width: 100%; background: #222; margin: 30px 0 0; padding: 5px 0 0; /*position: fixed; left: 0; bottom: 0;*/}
  #footer .inverted.menu{min-height: inherit; background: none; display: flex; justify-content: left; margin: 0; position: relative; left: -6px;}
  #footer .inverted.menu a{background: none; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #999; padding: 0 8px; line-height: normal;}
  #footer .inverted.menu a:before{background: #999;}
  p.copyright-txt{font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #696969; margin: 3px 0 0;}
  ul.social-link{display: flex; align-items: center; float: right;}
  ul.social-link li{color: #696969; transition: all 0.3s ease-in; }
  ul.social-link li a{color: #696969; padding: 0;}
  ul.social-link li a:hover{color: #999;}
  ul.social-link li span{font-size: 12px; color: #999;}

  .customNavMenu{position: relative; top: 78px;}
  .customNavMenu .bm-overlay{display: none;}
  .customNavMenu .bm-morph-shape, .customNavMenu .bm-cross-button{display: none;}
  .customNavMenu .bm-menu{width: 240px!important; background: #1f2f46; padding: 0; overflow: auto; border-top: 4px solid #3261af;}
  .customNavMenu .bm-menu nav a{font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #fff; text-decoration: none; padding: 9px 20px;}
  .customNavMenu .bm-menu nav a:hover{background: #1a2940; color: #fff; }
  .customNavMenu .bm-menu nav a i{font-size: 15px;}
  .customNavMenu .bm-menu nav > a{border-bottom: 1px solid #1b2a40;}



  .ui.input input {
    margin: 0;
    max-width: 100%;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    -webkit-transition: border-color .1s ease, -webkit-box-shadow .1s ease;
    transition: border-color .1s ease, -webkit-box-shadow .1s ease;
    -o-transition: box-shadow .1s ease, border-color .1s ease;
    transition: box-shadow .1s ease, border-color .1s ease;
    transition: box-shadow .1s ease, border-color .1s ease, -webkit-box-shadow .1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ui.input input::-webkit-input-placeholder {
    color: rgba(191, 191, 191, .87);
}
.ui.input input::-moz-placeholder {
    color: rgba(191, 191, 191, .87);
}
.ui.input input:-ms-input-placeholder {
    color: rgba(191, 191, 191, .87);
}

  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  @media (max-width: 767px) {
    #footer .inverted.menu{display: inline;}
    #footer .inverted.menu a{display: inline-block;}
  }
  @media (max-width: 576px) {
    .login100-form {
      padding: 43px 15px 57px 117px;
    }
  }
  
  @media (max-width: 480px) {
    .login100-form {
      padding: 43px 15px 57px 15px;
    }
  
    .label-input100 {
      text-align: left;
      position: unset;
      top: unset;
      left: unset;
      width: 100%;
      padding: 0 5px;
    }
  }
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;
  
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
.foo{
    align:"center";
}  
  
.footerFixedClass{
  position: fixed; left: 0; bottom: 0;
}
  